.input {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 20px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px #708090;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(155, 166, 177, 0.5);
  outline: none;
}

.input_submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: #e76400;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px #708090;
}

.input_submit:hover {
  background-color: #c35600;
}

.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px #9ba6b1;
}

.container {
  width: 95%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.todos {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 47.5%;
  padding: 15px;
  background-color: #198754;
}

.todos__heading {
  font-size: 30px;
  color: white;
}

.todos__single {
  display: flex;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-image: url('https://img.freepik.com/free-photo/vintage-crumpled-paper-textured-background_53876-103940.jpg?w=740&t=st=1692006717~exp=1692007317~hmac=0c7163b2bfaf5b05a1b09937fef8c142c8978e62b0b202feae7837a5f29a267f');
  transition: 0.2s;
}

.todos__single:hover {
  box-shadow: 0 0 5px #222;
  transform: scale(1.03);
}

.todos__single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .todos {
    width: 95%;
    margin-bottom: 10px;
  }

  .container {
    width: 95%;
    flex-direction: column;
  }
}

.remove {
  background-color: rgb(235, 103, 80);
}
